<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <!-- Sidebar -->
        <nav class="sidebar">
            <ul class="menu">
                <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="/about"><i class="fas fa-user"></i> Task List </a></li>
                <li><a href="/notepad"><i class="fas fa-sticky-note"></i> Note-book</a></li>
                <li><a href="/hobby"><i class="fas fa-gamepad"></i> Hobby Development </a></li>
            </ul>
        </nav>

        <!-- Main Content -->
        <div class="main-content">
            <header class="navbar">
                <h1>Website Task Management</h1>
            </header>
            <main>
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
</body>
</html>
