{% extends 'layout.html' %}

{% block content %}
<div class="notebook-container">
    <!-- Panel Kiri: Daftar Catatan -->
    <div class="sidebar-notes">
        <h3>Daftar Catatan</h3>
        <ul id="note-list"></ul>
        <button onclick="newNote()">Tambah Catatan</button>
    </div>

    <!-- Panel Kanan: Editor Catatan -->
    <div class="note-editor">
        <textarea id="note-content" placeholder="Tulis catatan di sini..."></textarea>
      <button id="save-note" onclick="saveOrUpdateNote()">Simpan Catatan</button>
    </div>
</div>

<script src="{{ url_for('static', filename='notepad.js') }}"></script>
{% endblock %}
